@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>
    <thead>
        <td>Name</td>
        <td>Value</td>
    </thead>
    <tbody>
        <tr>
            <td>Temperature</td>
            <td>@Model.MeasurementData.TempDegC</td>
        </tr>
        <tr>
            <td>Pressure</td>
            <td>@Model.MeasurementData.PressMbar</td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td>@Model.MeasurementData.HumP</td>
        </tr>
    </tbody>
</table>